body {
    font-family: sans-serif;
}

#list__container {
    display: flex;
    justify-content: center;
    gap: 50px;
    border: 5px solid black;
    width: 50%;
    left: 25vw;

}

#divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 30px;
    border: 1px solid black;
}

#list__container ul {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

#lst2 {
    position: relative;
    left: 175px;
}